<head>
  <title>barcode</title>
</head>

<body>
  <h1>Welcome to Meteor!</h1>
  {{> userinput }}
  {{> barcodes}}
  {{> info}}
</body>

<template name="userinput">
  <textarea></textarea>  
  <button>Click Me</button>
</template>

<template name="barcodes">
  <table>
    <thead>
      <tr>
        <th>Type</th>
        <th>id</th>
        <th>barcode</th>
        <th>name</th>
      </tr>
    </thead>
    <tbody>
    {{#each barcode in barcodes}}
      {{> barcode }}
    {{/each}}
    </tbody>
  </table>
</template>

<template name="barcode">
    <tr>
      <td>{{barcode.type}}</td>
      <td>{{barcode.id}}</td>
      <td>{{barcode.barcode}}</td>
      <td>{{barcode.name}}</td>
    </tr>  
</template>

<template name="info">
  <h2>Learn Meteor!</h2>
  <ul>
    <li><a href="https://www.meteor.com/try" target="_blank">Do the Tutorial</a></li>
    <li><a href="http://guide.meteor.com" target="_blank">Follow the Guide</a></li>
    <li><a href="https://docs.meteor.com" target="_blank">Read the Docs</a></li>
    <li><a href="https://forums.meteor.com" target="_blank">Discussions</a></li>
  </ul>
</template>
